<%- include('./encabezado')-%>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 style="color:blue;">Productos ingresados</h1>
            <br>

            <form action="/" method="get">
                <button class="btn btn-success mt-3 mb-5">Ingresar producto</button>
            </form>
            <%- include('./tabla')-%>

        </div>
    </div>
</body>

<%- include('./pie')-%>

